<html>
    <head>
        <title>{{{title}}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.css">

        <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/chatManager.js"></script>

    </head>
    <body class="container" style="background-color: #34495e;font-family: cursive,fantasy">
        {{{ body }}}
    </body>
</html>